/*
Developer Note: dont forget to click "watch sass" in VS Code
https://www.figma.com/file/QZzeRP41I7qVcrVXVb9IXe/SpotifySiteDraft?node-id=0%3A1
*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
:root {
  --text-color: #E9C46A;
  --off-white: rgb(242, 242, 242);
  --custom-opacity: .5;
}

body {
  font-family: 'Baloo Tammudu 2', cursive;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(221%2c 157%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c46 C 72%2c69.4 216%2c168.6 360%2c163 C 504%2c157.4 576%2c14.2 720%2c18 C 864%2c21.8 936%2c172 1080%2c182 C 1224%2c192 1368%2c90.8 1440%2c68L1440 560L0 560z' fill='rgba(243%2c 207%2c 59%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c363 C 57.6%2c345 172.8%2c280.2 288%2c273 C 403.2%2c265.8 460.8%2c336.8 576%2c327 C 691.2%2c317.2 748.8%2c233.2 864%2c224 C 979.2%2c214.8 1036.8%2c284.6 1152%2c281 C 1267.2%2c277.4 1382.4%2c221 1440%2c206L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c487 C 96%2c467.8 288%2c387.8 480%2c391 C 672%2c394.2 768%2c503.4 960%2c503 C 1152%2c502.6 1344%2c411.8 1440%2c389L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.navbar {
  display: inline-block;
}

.navbar .sitename {
  overflow: hidden;
  height: 1.5em;
  width: auto;
  margin-top: .15em;
  margin-left: .5em;
  font-size: 2em;
  color: var(--off-white);
  text-decoration: none;
  cursor: pointer;
}

.navbar .menu-bars {
  position: absolute;
  right: 2em;
  top: 1.5em;
  cursor: pointer;
}

.navbar .menu-bars div {
  height: 4px;
  background-color: white;
  margin: 5px;
  width: 35px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar .menu-bars .bar2 {
  margin-left: .6em;
  width: 25px;
}

.navbar .menu-bars .bar3 {
  margin-left: .95em;
  width: 15px;
}

.navbar .menu-content {
  display: none;
  position: absolute;
  right: 2em;
  top: 3em;
  z-index: 1;
}

.navbar .menu-content .menu-list {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.navbar .menu-content .menu-list li {
  cursor: pointer;
  color: orange;
  text-align: center;
  background-color: white;
  margin-bottom: .4em;
  padding: 0;
  height: 27px;
  width: 100px;
  border-color: white;
  border-radius: .4em;
  border-style: solid;
}

.navbar .menu-bars:hover div {
  margin-left: 5px;
  width: 35px;
}

.navbar .sitename:hover {
  opacity: var(--custom-opacity);
}

.log-btn {
  position: absolute;
  top: 1.2em;
  right: 2em;
  margin: 0;
  padding: .4em;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid;
  border-radius: .5em;
  background-color: transparent;
  color: var(--off-white);
}

.log-btn:hover {
  opacity: var(--custom-opacity);
}

#halt-login-id {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 5em;
  font-size: 30px;
  background-image: linear-gradient(45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-repeat: repeat;
  margin-top: .5em;
}

#msg-text {
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: .3em;
  border-color: white;
  border-width: .2em;
  border-style: solid;
  border-radius: .5em;
  background-image: linear-gradient(45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-repeat: repeat;
}

.search-section {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.search-section .search-title {
  text-align: center;
  font-size: 2.5em;
  width: 14.5em;
  height: 1.8em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--off-white);
  border-radius: 1em;
  margin-bottom: .2em;
}

.search-section .search-title p {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.search-section .search-bar-div {
  text-align: center;
  margin-top: 0;
}

.search-section .search-bar-div #search-input {
  border-style: solid;
  border-width: 1em;
  width: 28em;
  height: 5em;
  border-radius: 2em;
  border-color: var(--off-white);
  outline-width: 0;
}

.search-section .search-button-div {
  text-align: center;
}

.search-section .search-button-div :hover {
  color: #cecece;
}

.search-section .search-button {
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  height: 3.2em;
  width: 10em;
  border-radius: .75em;
}

.search-section .search-button #sb-span {
  font-size: 17px;
  color: #484848;
}

.search-section .search-button:hover {
  opacity: 90%;
}

.creditBar ul {
  position: fixed;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.creditBar ul li {
  display: inline;
  padding: 0em 1em 0em 0em;
}

.creditBar ul li a {
  text-decoration: none;
  color: white;
}

.creditBar ul li a:hover {
  color: #cecece;
}
/*# sourceMappingURL=main.css.map */