/*
Developer Note: dont forget to click "watch sass" in VS Code
https://www.figma.com/file/QZzeRP41I7qVcrVXVb9IXe/SpotifySiteDraft?node-id=0%3A1
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
    --text-color: #E9C46A;
    --off-white: rgb(242, 242, 242);
}
body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(221%2c 157%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c46 C 72%2c69.4 216%2c168.6 360%2c163 C 504%2c157.4 576%2c14.2 720%2c18 C 864%2c21.8 936%2c172 1080%2c182 C 1224%2c192 1368%2c90.8 1440%2c68L1440 560L0 560z' fill='rgba(243%2c 207%2c 59%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c363 C 57.6%2c345 172.8%2c280.2 288%2c273 C 403.2%2c265.8 460.8%2c336.8 576%2c327 C 691.2%2c317.2 748.8%2c233.2 864%2c224 C 979.2%2c214.8 1036.8%2c284.6 1152%2c281 C 1267.2%2c277.4 1382.4%2c221 1440%2c206L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c487 C 96%2c467.8 288%2c387.8 480%2c391 C 672%2c394.2 768%2c503.4 960%2c503 C 1152%2c502.6 1344%2c411.8 1440%2c389L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; //needed for background img to cover whole background
    color: white;
    //position: relative;
}
.navbar .sitename{
    text-decoration: none;
    font-size: 2em;
    color: navajowhite;

}
.search-section {
    .search-title{
        text-align: center;
        font-size: 2.5em;
        width: 12em;
        height: 1.8em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--off-white);
        border-radius: 1em;
        margin-bottom: .2em;

        p{

              /* Create the gradient. */
            // background-image: linear-gradient(
            //     to right,
            //     #cc1319 10%, 
            //     #ed4e22 20%, 
            //     #e6603b 30%, 
            //     #F18F43 40%, 
            //     #8B9862 60%, 
            //     #8B9862 70%, 
            //     #476098 80%, 
            //     #476098 90%,
            //     #0f43b3 100%);
            background-image: linear-gradient(
                45deg,
                #CA4246 16.666%, 
                #E16541 16.666%, 
                #E16541 33.333%, 
                #F18F43 33.333%, 
                #F18F43 50%, 
                #8B9862 50%, 
                #8B9862 66.666%, 
                #476098 66.666%, 
                #476098 83.333%, 
                #A7489B 83.333%);
            background-repeat: repeat;

            /* Use the text as a mask for the background. */
            /* This will show the gradient as a text color rather than element bg. */
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent
            // background: -webkit-linear-gradient(green, blue);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }
    .search-bar-div{
        text-align: center;
        margin-top: 0;
        #search-input{
            border-style: solid;
            border-width: 1em;
            width: 28em;
            height: 5em;
            border-radius: 2em;
            border-color: var(--off-white);
            outline-width: 0; //hides the rectangle that shows when you select it with mouse
        }
    }

    .search-button-div{
        text-align: center;
        :hover{
            color: rgb(206, 206, 206);
        }
    }
    .search-button{
        margin-top: 1em;
        font-family: 'Montserrat', sans-serif;
        background-color: whitesmoke;
        border: none;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        height: 3.2em;
        width: 10em;
        border-radius: .75em; //gives the rounded corners
        #sb-span{
            font-size: 17px;
        }
    
    }
}

.creditBar{

    ul{

        position: fixed;
        bottom: 0;
        list-style: none; //removes bullet point
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
        //left 50% starts the text 50% of the way across the screen so translate it left 50% relative to length of the text
        left: 50%;
        transform: translate(-50%); 
        li{

            display: inline;
            padding: 0em 1em 0em 0em; //separates the list elements
        }
        li a{

            text-decoration: none; //removes blue highlight
            color: white;
        }
        li a:hover{
            color: rgb(206, 206, 206);
        }
    }
}

