/*
Developer Note: dont forget to click "watch sass" in VS Code
*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
:root {
  --text-color: #E9C46A;
  --off-white: rgb(242, 242, 242);
  --darker-white: rgb(216, 216, 216);
  --custom-opacity: .5;
}

@-webkit-keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes disappear {
  from {
    opacity: 100%;
  }
  99% {
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0%;
  }
}

@keyframes disappear {
  from {
    opacity: 100%;
  }
  99% {
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0%;
  }
}

body {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  font-family: 'Baloo Tammudu 2', cursive;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.body-container {
  position: relative;
}

#main-body-id {
  background-image: url("/resources/main_bg.jpg");
}

#halt-body-id {
  background-image: url("/resources/black_bg.jpg");
}

#result-body-id, #profile-body-id {
  background-image: url("/resources/bg.jpg");
}

#main-body-id::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.navbar {
  display: inline-block;
}

.navbar .sitename {
  display: inherit;
  overflow: hidden;
  height: 1.5em;
  width: auto;
  margin-top: .15em;
  margin-left: .5em;
  font-size: 2em;
  color: var(--off-white);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar .sitename:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: var(--custom-opacity);
}

.navbar .menu-bars-active, .navbar .menu-bars-inactive {
  position: absolute;
  right: 2em;
  top: 1.5em;
  cursor: pointer;
}

.navbar .menu-bars-active div, .navbar .menu-bars-inactive div {
  height: 4px;
  background-color: white;
  margin: 5px;
  width: 35px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar .menu-bars-active:hover .bar2 {
  -webkit-transform: translate(5px);
          transform: translate(5px);
  width: 25px;
}

.navbar .menu-bars-active:hover .bar3 {
  -webkit-transform: translate(10px);
          transform: translate(10px);
  width: 15px;
}

.navbar .menu-bars-inactive {
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar .menu-bars-inactive div {
  width: 20px;
}

.navbar .menu-bars-inactive .bar1 {
  -webkit-transform: rotate(45deg) translate(7px, 6px);
          transform: rotate(45deg) translate(7px, 6px);
}

.navbar .menu-bars-inactive .bar2 {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

.navbar .menu-bars-inactive .bar3 {
  opacity: 0%;
}

.navbar .menu-bars-inactive:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: var(--custom-opacity);
}

.navbar .menu-content-show {
  display: inline-block;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.navbar .menu-content-hide {
  -webkit-animation-name: disappear;
          animation-name: disappear;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar .menu-content-hide-first {
  visibility: hidden;
}

.navbar .menu-content-show, .navbar .menu-content-hide, .navbar .menu-content-hide-first {
  position: absolute;
  right: 2em;
  top: 3em;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar .menu-content-show .menu-list, .navbar .menu-content-hide .menu-list, .navbar .menu-content-hide-first .menu-list {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.navbar .menu-content-show .menu-list li, .navbar .menu-content-hide .menu-list li, .navbar .menu-content-hide-first .menu-list li {
  cursor: pointer;
  color: orange;
  text-align: center;
  background-color: white;
  margin-bottom: .4em;
  padding: 0;
  height: 27px;
  width: 100px;
  border-color: white;
  border-radius: .4em;
  border-style: solid;
}

.searching-for {
  text-align: center;
  position: relative;
  height: 10em;
  overflow: hidden;
}

.searching-for #searching-for-id {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 40px;
  opacity: 80%;
}

.searching-for #searching-for-query-id {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 300%;
  height: 80px;
  top: 1em;
}

.track-wrapper {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  width: 400px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 1em;
  font-family: 'Mukta', sans-serif;
}

.track-wrapper .track-card-container {
  position: relative;
  height: 80px;
  border-style: solid;
  border-right-width: .7em;
  border-left-width: .7em;
  border-radius: .5em;
  margin-bottom: .3em;
  background-color: var(--off-white);
  -webkit-transition: .25s;
  transition: .25s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 351px 40px;
      grid-template-columns: 351px 40px;
}

.track-wrapper .track-card-container .track-arrow-img {
  display: inline;
  position: relative;
  right: .1em;
}

.track-wrapper .track-card-container .track-arrow-img .card-svg-down-class, .track-wrapper .track-card-container .track-arrow-img .card-svg-up-class {
  padding-top: 2em;
  margin-top: -2em;
  padding-bottom: 2em;
  margin-bottom: -2em;
  position: absolute;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

.track-wrapper .track-card-container .track-arrow-img .card-svg-down-class {
  -webkit-transform: translateY(35%) rotate(0deg);
          transform: translateY(35%) rotate(0deg);
}

.track-wrapper .track-card-container .track-arrow-img .card-svg-up-class {
  -webkit-transform: translateY(35%) rotate(180deg);
          transform: translateY(35%) rotate(180deg);
}

.track-wrapper .track-card-container:hover {
  border-top-width: .6em;
  border-bottom-width: .6em;
}

.track-wrapper .info-card-show, .track-wrapper .info-card-hide {
  color: black;
  height: 10em;
  background-color: white;
  text-align: center;
  border-radius: .8em;
}

.track-wrapper .info-card-show .info-top-data, .track-wrapper .info-card-hide .info-top-data {
  font-size: small;
  border-bottom-width: .3em;
  border-bottom-style: solid;
  border-color: var(--off-white);
}

.track-wrapper .info-card-show .info-top-data p, .track-wrapper .info-card-hide .info-top-data p {
  display: inline;
  margin: 0;
  margin-left: .8em;
}

.track-wrapper .info-card-show .analysis-grid, .track-wrapper .info-card-hide .analysis-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 120px 120px;
      grid-template-columns: 120px 120px 120px;
  grid-column-gap: 10px;
  font-size: smaller;
  padding-left: .6em;
}

.track-wrapper .info-card-show .analysis-grid div, .track-wrapper .info-card-hide .analysis-grid div {
  height: 20px;
  border-radius: .5em;
}

.track-wrapper .info-card-show .analysis-grid .skill-bar-container, .track-wrapper .info-card-hide .analysis-grid .skill-bar-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: darkred;
}

.track-wrapper .info-card-show .analysis-grid .skill-bar-container .skills-bar-text, .track-wrapper .info-card-hide .analysis-grid .skill-bar-container .skills-bar-text {
  background-color: red;
  text-align: right;
  color: white;
  padding-right: 5px;
}

.track-wrapper .info-card-hide {
  display: none;
}

.log-btn {
  position: absolute;
  top: 1.2em;
  right: 2em;
  margin: 0;
  padding: .4em;
  cursor: pointer;
  font-size: 18px;
  border: 2px solid;
  border-radius: .5em;
  background-color: transparent;
  color: var(--off-white);
}

.log-btn:hover {
  opacity: var(--custom-opacity);
}

#halt-login-id {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 6em;
  font-size: 30px;
  background-color: white;
  margin-top: .5em;
}

#halt-login-id span {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#halt-msg-text {
  position: relative;
  text-align: center;
  font-size: 18px;
  padding-top: .3em;
  width: 500px;
  height: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#halt-msg-text span {
  font-size: x-large;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.search-section {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.search-section .search-title {
  text-align: center;
  font-size: 2.5em;
  width: 14.5em;
  height: 1.8em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--off-white);
  border-radius: 1em;
  margin-bottom: .2em;
}

.search-section .search-title p {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.search-section .search-bar-div {
  text-align: center;
  margin-top: 0;
}

.search-section .search-bar-div #search-input {
  border-style: solid;
  border-width: 1em;
  width: 28em;
  height: 5em;
  border-radius: 2em;
  border-color: var(--off-white);
  outline-width: 0;
}

.search-section .dropdown-wrapper {
  position: absolute;
  top: 8.5em;
  right: 0em;
}

.search-section .dropdown-wrapper .selectSearch {
  margin: 0;
  padding: 0;
  background-color: white;
  border-color: var(--off-white);
  height: 2.7em;
  border-width: .3em;
  border-radius: .5em;
  font-family: inherit;
}

.search-section .search-button-div {
  text-align: center;
}

.search-section .search-button-div :hover {
  color: #cecece;
}

.search-section .search-button {
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  height: 3.2em;
  width: 10em;
  border-radius: .75em;
}

.search-section .search-button #sb-span {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 17px;
  color: #484848;
}

.search-section .search-button:hover {
  opacity: 90%;
}

.creditBar ul {
  position: fixed;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.creditBar ul li {
  display: inline;
  padding: 0em 1em 0em 0em;
}

.creditBar ul li a {
  text-decoration: none;
  color: white;
}

.creditBar ul li a:hover {
  color: #cecece;
}

.sub-body-wrapper .profile-wrapper {
  text-align: center;
}

.sub-body-wrapper .profile-wrapper .profile-header-wrapper .profile-picture-show {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.sub-body-wrapper .profile-wrapper .profile-header-wrapper #profile-header-id {
  margin-top: 2em;
  margin-bottom: .5em;
  height: auto;
  line-height: .5em;
  opacity: 80%;
}

.sub-body-wrapper .profile-wrapper .profile-header-wrapper #profile-name-id {
  margin: 0;
  line-height: 1em;
}

.sub-body-wrapper .profile-wrapper .profile-info-cont #profile-info-list-id {
  padding: 0;
  margin-top: 0;
}

.sub-body-wrapper .profile-wrapper .profile-info-cont #profile-info-list-id li {
  list-style-type: none;
  display: inline-block;
  margin-right: .5em;
}

.sub-body-wrapper .profile-wrapper .profile-info-cont #profile-info-list-id p {
  margin: 0;
}

.sub-body-wrapper .profile-wrapper .profile-info-cont #profile-info-list-id a {
  text-decoration: none;
}

.sub-body-wrapper .playlist-wrapper #playlist-heading-id {
  position: relative;
  text-align: center;
  color: black;
  background-color: var(--off-white);
  width: 80%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: .9em;
  padding-top: 14px;
  line-height: 1.2em;
}

.sub-body-wrapper .playlist-wrapper #playlist-heading-id span {
  background-image: linear-gradient(45deg, #CA4246 40%, #E16541 40%, #ee4f22 50%, #ec7113 65%, #fc9343 75%, #e0960d 85%);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
/*# sourceMappingURL=main.css.map */