/*
Developer Note: dont forget to click "watch sass" in VS Code
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
:root{
    --text-color: #E9C46A;
    --off-white: rgb(242, 242, 242);
    --darker-white: rgb(216, 216, 216);
    --track-card-width: 500px;
    --custom-opacity: .5;
    --white-Linear-Gradient:linear-gradient(
        180deg,
        #ffffff, 
        #e9e9e9, 
        #dcdbdb, 
        #d3d3d3, 
    ); 
}
//fades in
@keyframes appear{
    from {
        opacity: 0%;}
    to{
        opacity: 100%;
    }
}
//fades in
@keyframes disappear{
    from {
        opacity: 100%;
    }
        
    99%{visibility: visible;}
    
    to{
        visibility: hidden;

        opacity: 0%;
    }
}


//so far, only applies to mainpage body
body{
    animation-name: appear;
    animation-duration: 2s;
    font-family: 'Baloo Tammudu 2', cursive;
    //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(221%2c 157%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c46 C 72%2c69.4 216%2c168.6 360%2c163 C 504%2c157.4 576%2c14.2 720%2c18 C 864%2c21.8 936%2c172 1080%2c182 C 1224%2c192 1368%2c90.8 1440%2c68L1440 560L0 560z' fill='rgba(243%2c 207%2c 59%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c363 C 57.6%2c345 172.8%2c280.2 288%2c273 C 403.2%2c265.8 460.8%2c336.8 576%2c327 C 691.2%2c317.2 748.8%2c233.2 864%2c224 C 979.2%2c214.8 1036.8%2c284.6 1152%2c281 C 1267.2%2c277.4 1382.4%2c221 1440%2c206L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c487 C 96%2c467.8 288%2c387.8 480%2c391 C 672%2c394.2 768%2c503.4 960%2c503 C 1152%2c502.6 1344%2c411.8 1440%2c389L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; //needed for background img to cover whole background
    color: white;
}
.body-container{
    position: relative;
}
#main-body-id{
    background-image: url("/resources/main_bg.jpg");
}
#halt-body-id{
    background-image: url("/resources/black_bg.jpg");
}
#result-body-id, #profile-body-id{
    background-image: url("/resources/bg.jpg");
}

#main-body-id::before{
    
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.navbar {
    display: inline-block;
    .sitename{
        display: inherit;
        overflow: hidden; //alters the clickable area of <a> tag
        height: 1.5em;
        width: auto;
        margin-top: .15em;
        margin-left: .5em;    
        font-size: 2em;
        color: var(--off-white);
        text-decoration: none;
        cursor: pointer;
        transition: 1s;
        &:hover{
            transform: scale(1.05);
            opacity: var(--custom-opacity);
        }

    }
    //hamburger styled icon
    .menu-bars-active, .menu-bars-inactive {
        position: absolute;
        right: 2em;
        top: 1.5em;
        cursor: pointer;

        div{
            height: 4px;
            background-color: white;
            margin: 5px;
            width: 35px;
            transition: 1s;
        }

    }
    .menu-bars-active:hover{
        .bar2{
            transform: translate(5px);
            width: 25px;
        }
        .bar3{
            transform: translate(10px);
            width: 15px;
        }
    }
    .menu-bars-inactive{
        transition: 1s; //ensures a smooth transition back to regular size after done hovering

        div{
            width: 20px;
        }
        .bar1{
            transform: rotate(45deg) translate(7px,6px);
        }
        .bar2{
            transform: rotate(130deg);
        }
        .bar3{
            opacity: 0%;
        }
        &:hover{
            transition: 1s; //grow larger when hovered over
            transform: scale(1.2);
            opacity: var(--custom-opacity);
        }
    }
    //menu content showing
    .menu-content-show{
        display: inline-block;
        animation-name: appear;
        animation-duration: .5s;
    }
    //menu content not showing
    .menu-content-hide{
        animation-name: disappear;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
    .menu-content-hide-first{
        visibility: hidden;
    }
    .menu-content-show, .menu-content-hide, .menu-content-hide-first{
        position: absolute;
        right: 2em;
        top: 3em;
        z-index: 1;
        transition: 1s;
        .menu-list{
            padding: 0;
            text-decoration: none;
            list-style-type: none;
            li{
                cursor: pointer;
                color: orange;
                text-align: center;
                background-color: white;
                margin-bottom: .4em;
                padding: 0;
                height: 27px;
                width: 100px;
                border-color: white;
                border-radius: .4em;
                border-style: solid;
            }
        }
    }
}
.searching-for{
    text-align: center;
    position: relative;
    height: 9em;
    overflow: hidden;
    #searching-for-id{
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        animation-fill-mode: forwards;
        height: 40px;
        opacity: 80%;
    }
    #searching-for-query-id{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
        margin-bottom: .2em;
        font-size: 300%;
        height: 80px;
        top: 1em;
    }
}

.track-wrapper{
    animation-name: appear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
    width: var(--track-card-width);
    //height: 80px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1em;
    font-family: 'Mukta', sans-serif;
    .track-only-option{
        grid-template-columns: 420px 50px;

    }

    .track-select-btn{
        border-radius: 50%;
        border-color: white;
        border-style: solid;
        background-color: white;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -30px;
        top: 50%;
        transform:translateY(-50%);
        z-index: 1;
        &:hover{
            border-color: rgb(146, 0, 0);
        }
        .track-select-btn-selected{
            border-radius: 50%;
            background-color: rgb(146, 0, 0);
            width: 20px;
            height: 20px;
            z-index: 2;
        }
    }


    .playlist-option{
        grid-template-columns: 81px 335px 64px;

    }
    .track-card-container{
        position: relative;
        height: 80px;
        border-style:solid;
        border-right-width: .8em;
        border-left-width: .8em;
        border-radius: .5em;
        margin-bottom: .3em;
        //background-color: var(--off-white);
        background-image: linear-gradient(
            180deg,
            #d3d3d3, 
            #dcdbdb, 
            #e9e9e9, 
            #ffffff, 
            #e9e9e9, 
            #dcdbdb, 
            #d3d3d3, 
        );
        transition: .25s;
        display: grid;

        .album-img-container{
            position: relative;
            .album-img{
                width: 80px;
                height: 80px;
            }
            .play-button, .pause-button{
                height: 50px;
                width: 50px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                z-index: 9;
                
                &:hover{
                    border-style: solid;
                    border-color: white;
                    border-radius: 50%;
                    background-color: rgb(250, 95, 95);
                }
            }
            .audio-playing{
                border-style: solid;
                border-color: var(--off-white);
                border-radius: 50%;
                background-color: var(--off-white);
            }
            
        }
        .track-and-artist{
            text-align: center;
            .track-name{
                font-size: larger;
                line-height: .9em;
                padding-top: .5em;
                padding-bottom: .5em;
                font-weight: bold;
                         /* Create the gradient. */
                background-image: linear-gradient(
                    45deg,
                    #CA4246 40%, 
                    #E16541 40%, 
                    #ee4f22 50%, 
                    #ec7113 65%, 
                    #fc9343 75%, 
                    #e0960d 85%, );
                background-repeat: repeat;

                /* Use the text as a mask for the background. */
                /* This will show the gradient as a text color rather than element bg. */
                -webkit-background-clip: text;
                    background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent
            }
            .artist-name{
                color: black;
                opacity: 80%;
                font-style: italic;
                line-height: 1em;
            }
        }
        .track-arrow-img{
            display: inline;
            position: relative;
            right: .1em;
            .card-svg-down-class, .card-svg-up-class{
                padding-top: 2em;
                margin-top: -2em; //negative margins to maintain the 
                padding-bottom: 2em;
                margin-bottom: -2em;
                position: absolute;
                cursor:pointer;
                transition: .25s;
            }
            .card-svg-down-class{
                left: 50%;
                transform: translateX(-50%) translateY(35%) rotate(0deg);
            }
            .card-svg-up-class{
                left: 50%;
                transform: translateX(-50%) translateY(35%) rotate(180deg);
            }
            
        }
        &:hover{
            border-top-width: .6em;
            border-bottom-width: .6em;
        }
    }
    

    .info-card-show, .info-card-hide{
        color: black;
        height: 10em;
        background-color: white;
        text-align: center;
        border-radius: .8em;
        .info-top-data{
            font-size: small;
            border-bottom-width: .3em;
            border-bottom-style: solid;
            border-color: var(--off-white);
            //width: 120px;
            p{
                display:inline;
                margin: 0;
                margin-left: .8em;
                //margin-right: .6em;
            }
        }
        .analysis-grid{
            display: grid;
            position: relative;
            grid-template-columns: 120px 120px 120px;
            grid-column-gap: 10px;
            font-size: smaller;
            padding-left: 4em;

            div{
                height: 20px;
                border-radius: .5em;
            }
            .skill-bar-container{
                box-sizing: border-box;
                background-color: darkred;
                .skills-bar-text{
                    background-color: rgb(255, 0, 0);
                    text-align: right;
                    color: white;
                    padding-right: 5px;
                }
            }
        }
    }
    .info-card-hide{
        display:none;
    }
}


.log-btn{
    position: absolute;
    top: 1.2em;
    right: 2em; 
    margin: 0;
    padding: .4em;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid; //width and style
    border-radius: .5em;
    background-color: transparent;
    color: var(--off-white);
    //not nested in .login-button because i needed to specifically target the div and not the <b> tag
    &:hover{
        opacity: var(--custom-opacity);
    }
}

#halt-login-id{
    left: 50%;
    transform: translate(-50%);
    top: 6em;
    font-size: 30px;
    background-color: white; 
    span{
         /* Create the gradient. */
         background-image: linear-gradient(
            45deg,
            #CA4246 16.666%, 
            #E16541 16.666%, 
            #E16541 33.333%, 
            #F18F43 33.333%, 
            #F18F43 50%, 
            #8B9862 50%, 
            #8B9862 66.666%, 
            #476098 66.666%, 
            #476098 83.333%, 
            #A7489B 83.333%);
        background-repeat: repeat;

        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
            background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent
    }
    margin-top: .5em;
}
#halt-msg-text{
    position: relative;
    //color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    padding-top: .3em;
    width: 500px;
    height: 50px;
    //border-style: solid;
    //border-radius: .5em;
    left: 50%;
    transform: translate(-50%);
    //background-color: white;
    span{
        
        font-size: x-large;
        /* Create the gradient. */
        background-image: linear-gradient(
            45deg,
            #CA4246 16.666%, 
            #E16541 16.666%, 
            #E16541 33.333%, 
            #F18F43 33.333%, 
            #F18F43 50%, 
            #8B9862 50%, 
            #8B9862 66.666%, 
            #476098 66.666%, 
            #476098 83.333%, 
            #A7489B 83.333%);
        background-repeat: repeat;

        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
            background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent
    }
}
.search-section {
    position: absolute;
    left: 50%;
    transform: translate(-50%); //centers the search related divs

    .search-title{
        text-align: center;
        font-size: 2.5em;
        width: 14.5em;
        height: 1.8em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--off-white);
        border-radius: 1em;
        margin-bottom: .2em;

        p{
            /* Create the gradient. */
            background-image: linear-gradient(
                45deg,
                #CA4246 16.666%, 
                #E16541 16.666%, 
                #E16541 33.333%, 
                #F18F43 33.333%, 
                #F18F43 50%, 
                #8B9862 50%, 
                #8B9862 66.666%, 
                #476098 66.666%, 
                #476098 83.333%, 
                #A7489B 83.333%);
            background-repeat: repeat;

            /* Use the text as a mask for the background. */
            /* This will show the gradient as a text color rather than element bg. */
            -webkit-background-clip: text;
                background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent
            // background: -webkit-linear-gradient(green, blue);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }

    }
    .search-bar-div{
        text-align: center;
        margin-top: 0;
        #search-input{
            border-style: solid;
            border-width: 1em;
            width: 28em;
            height: 5em;
            border-radius: 2em;
            border-color: var(--off-white);
            outline-width: 0; //hides the rectangle that shows when you select it with mouse
        }
    }
    .dropdown-wrapper{
        position: absolute;
        top: 8.5em;
        right: 0em;
        .selectSearch{
            margin: 0;
            padding: 0;
            background-color: white;
            border-color:var(--off-white);
            height: 2.7em;
            border-width: .3em;
            border-radius: .5em;
            font-family: inherit;
        }
    }
    .search-button-div{
        text-align: center;
        :hover{
            color: rgb(206, 206, 206);
        }
    }
    .search-button{
        margin-top: 1em;
        font-family: 'Montserrat', sans-serif;
        background-color: whitesmoke;
        border: none;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        height: 3.2em;
        width: 10em;
        border-radius: .75em; //gives the rounded corners
        #sb-span{
            /* Create the gradient. */
            background-image: linear-gradient(
                45deg,
                #CA4246 16.666%, 
                #E16541 16.666%, 
                #E16541 33.333%, 
                #F18F43 33.333%, 
                #F18F43 50%, 
                #8B9862 50%, 
                #8B9862 66.666%, 
                #476098 66.666%, 
                #476098 83.333%, 
                #A7489B 83.333%);
            background-repeat: repeat;

            /* Use the text as a mask for the background. */
            /* This will show the gradient as a text color rather than element bg. */
            -webkit-background-clip: text;
                background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            // background: -webkit-linear-gradient(green, blue);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            font-size: 17px;
            color: rgb(72, 72, 72);
            
        }
    }
    
    .search-button:hover{
        opacity: 90%;
    }
}

.creditBar{

    ul{
        position: fixed;
        bottom: 0;
        list-style: none; //removes bullet point
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
        //left 50% starts the text 50% of the way across the screen so translate it left 50% relative to length of the text
        left: 50%;
        transform: translate(-50%);

        li{
            display: inline;
            padding: 0em 1em 0em 0em; //separates the list elements
        }
        li a{
            text-decoration: none; //removes blue highlight
            color: white;
        }
        li a:hover{
            color: rgb(206, 206, 206);
        }
    }
}

.sub-body-wrapper{
    .profile-wrapper{
        text-align: center;

        .profile-header-wrapper{
            .profile-picture-blank{
                transform: scale(.8);
            }
            .profile-picture-custom{
                height:170px;
                position: relative;
                a{  
                    display: block;
                    height: 0;
                    #user-img-id{
                        background-color: black;
                        border-radius: 50%;
                        border-style: solid;
                        border-width: .3em;
                        border-color: black;
                        width: 140px;
                        height: 130px;
                        //transform: scale(.55);
                        &:hover{
                            border-color: white;
                        }
                    }
                }
            }
            #profile-header-id{
                margin-top: 2em;
                margin-bottom: .5em;
                height: auto;
                line-height: .5em;
                opacity: 80%;
            }
            #profile-name-id{
                margin: 0;
                line-height: 1em;
            }
        }
        .profile-info-cont{
            #profile-info-list-id{
                padding: 0;
                margin-top: 0;
                li{
                    list-style-type: none;
                    display: inline-block;
                    margin-right: .5em;
                }
                p{
                    margin: 0;
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
    .playlist-wrapper{
        #playlist-heading-id{
            position:relative;
            text-align: center;
            color: black;
            background-color: var(--off-white);
            width: 80%;
            left: 50%;
            margin-top: 0;
            transform: translate(-50%);
            border-radius: .9em;
            padding-top: 14px;
            line-height: 1.2em;
            span{
                background-image: linear-gradient(
                    45deg,
                    #CA4246 40%, 
                    #E16541 40%, 
                    #ee4f22 50%, 
                    #ec7113 65%, 
                    #fc9343 75%, 
                    #e0960d 85%, 
                );
                background-repeat: repeat;
                -webkit-background-clip: text;
                background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }
        }
    }
}

.carousel-container{
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    div{
        text-align: center;
        text-decoration: underline;
        font-size:large;
        font-weight: bold;
        margin-top: .7em;
        line-height: 15px;
    }
    .playlist-item-class{
        margin-right: .25em;
        margin-left: .25em
    }
    .slick-slide{
        opacity: 50%;
    }
    .slick-center{
        opacity: 100%;
    }
    .slick-arrow{
        transform: scale(1.5);
    }
    img{
        border-style: solid;
        border-color: rgb(255, 132, 75);
        border-width: 1em;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 130px;
        height: 130px;
    }
}

.playlist-tracks{
    // border-style: solid;
    // border-width: 1em;
    border-radius: .5em;
    padding-top: .5em;
    //margin-top: 1em;
    // margin-bottom: 4em;
    position: relative;
    background-image: linear-gradient(
                    180deg,
                    #fd4d53 20%, 
                    #ff7d7d 30%, 
                    #fd9e97 40%, 
                    #fdce76 75%, 
                    #ffc964 85%
                );
    background-repeat: repeat;

    left: 50%;
    transform: translate(-50%);
    height: auto; 
    max-height: 800px;
    width: 570px; 
    overflow: auto;
}

.sort-filter-wrapper{
    display: grid;
    grid-template-rows: 40px 40px;
    margin-bottom: 1em;
    margin-top: 1em;
    border-bottom-style: solid;
    border-top-style: solid;

    padding-bottom: .5em;
    padding-top: .5em;
    border-width: 1px;
    border-radius: .5em;
    
    .sort-filter-container{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: grid;
        grid-template-columns: 200px 180px;
        width: 380px;

        .sort-or-filter-radio-wrapper{
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
        .track-properties-list{

            .property-select{
                height: 2.5em;
                font-family: inherit;
                position: relative;
                left: 50%;
                transform: translate(-50%);
                border-style: solid;
                border-color: white;
                border-width: .3em;
                border-radius: .5em;
            }
        }
        .filter-range-div{
            display: grid;
            grid-template-columns: 40px 150px 40px;
            text-align: center;
            #slider-min-id{
    
            }
            #slider-max-id{
    
            };
            .current-range{
                padding-top: 8px;

                display: grid;
                grid-template-rows: 15px 20px 20px;
                row-gap: 2px;
                #property-slider-id{
    
                }
                #slider-text-id{
                    line-height: 1.5em;
                    border-radius: .5em;
                    border-style: solid;
                    border-color: white;
                    position: relative;
                    left: 50%;
                    color: rgb(237, 48, 48);
                    transform: translate(-50%);
                    background-color: white;
                }
                #greater-less-than-id{
                    border-style: solid;
                    border-color: white;
                    border-radius: .5em;
                }
            }
        }
        .ascending-descending-container{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            .ascending-descending-wrapper{
                border-style: solid;
                border-color: white;
                border-width: .3em;
                border-radius: .5em;
            }
        }
    }
    .sort-or-filter-submit-wrapper{
        #sort-filter-submit-id{
            font-family: inherit;
            color: rgb(68, 68, 68);
            position: relative;
            color: rgb(255, 179, 98);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            transition: .4s;
            border-style: solid;
            border-radius: .8em;
            border-color: white;
            background-color: white;
            font-size: large;
            height: 35px;
            width: 100px;
            &:hover{
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                background-color: rgb(255, 34, 34);
                color: white;
            }
        }
        
    }

    .filter-range-show{
        width: 610px;

        grid-template-columns: 200px 180px 230px;
    }
    .ascend-descend-show{
        width: 510px;
        grid-template-columns: 200px 180px 120px;
    }
}
.property-definitions-class{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 55%;
    color: black;

    // border-style: solid;
    // border-radius: .5em;
    // border-width: 10px;
    // border-color: rgb(253, 253, 253);

    // background-color: white;
    #property-definitions-title-id{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: rgb(255, 179, 98);
        background-color: white;
        border-left-style: solid;
        border-right-style: solid;
        // border-width: .3em;
        border-radius: .5em;
        // border-color: rgb(221, 221, 221);
        height: 30px;
        width: 250px;
        cursor: pointer;
        transition: .5s;
        line-height: .9em;
        transform-origin: center center;
        user-select: none;
        line-height: .4em;
        
        &:hover{
            //transform: translate(-50%) scale(1.1);
            border-left-width: .5em;
            border-right-width: .5em;

        }

        .property-def-arrow-down{
            transform:scale(.5) rotate(0deg);
        }
        .property-def-arrow-up{
            transform: scale(.5) rotate(180deg);

        }
    }
    #property-definitions-span-id{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding-top: .25em;

    }
    #property-def-arrow-id{
        transition: .5s;
        position: absolute;
        right: 0;
        top: .2em;
        
    }
    ul{
        list-style: none;
        padding-left: 0;
        overflow: auto;
        background-color: white;
        max-height: 600px;
        min-width: 300px;

        border-style: solid;
        border-radius: .5em;
        border-color: white;
    }
    li{
        margin-bottom: .2em;
        display: grid; 
        grid-template-columns: auto auto;
        border-bottom-style: solid;
        border-bottom-color: red;
        .prop-def-point{
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(49, 47, 47);
            padding-right: .2em;
            padding-left: .2em;
            min-width: 150px;

        }
        .prop-def-txt{ 
            font-size: .85em;
            padding-top: .7em;
            line-height: 1.2em;
            padding-right: .2em;
        }
    }
}

.create-add-playlist-wrapper{
    margin-top: 1em;
    .amnt-tracks-selected{
        text-align: center;
        position: relative;
        width: 200px;
        left: 50%;
        transform: translate(-50%);
        .amnt-tracks-selected-count{

        }
    }


    .create-add-playlist-btn{
        position: relative;
        width: 400px;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 6em;
        .create-playlist-btn, .add-to-playlist-btn{
            font-family: inherit;
            background-color: white;
            display: block;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            border-radius: .5em;
            border-style: solid;
            border-color: white;
            height: 30px;
            width: 200px;
            margin-bottom: .8em;
            transition: .3s;
            &:hover{
                transform: translate(-50%) scale(1.1);

            }
        }
        .create-playlist-btn{
        }
        .add-to-playlist-btn{
    
        }
        .new-playlist-name{

            .new-playlist-name-form{
                position: relative;
                width: 300px;
                height: 130px;                
                text-align: center;
                left: 50%;
                transform: translate(-50%);
                background-color: white;
                border-radius: .7em;
                margin-bottom: 1em;
                label{
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                    top: 6px;
                    width: 230px;
                    color: rgb(253, 105, 105);
                    font-weight: bold;

                }
                #new-playlist-name-id{
                    position:absolute;
                    left: 50%;
                    transform: translate(-50%);
                    top: 40px;
                    border-radius: .5em;
                    border-color: rgb(253, 105, 105);
                    border-style: solid;
                    font-family: monospace;

                }
                #new-playlist-name-submit-id{
                    position:absolute;
                    left: 37%;
                    transform: translate(-50%);
                    top: 70px;
                    
                }
                #new-playlist-name-cancel-id{
                    position:absolute;
                    left: 63%;
                    transform: translate(-50%);
                    top: 70px;
                }
                #new-playlist-name-submit-id, #new-playlist-name-cancel-id{
                    border-radius: .7em;
                    border-style: solid;
                    border-color: rgb(253, 105, 105);
                    background-color: white;
                    font-family: inherit;
                    height: 30px;
                    cursor: pointer;
                    transition: .4s;
                    &:hover{
                        border-left-width: .5em;
                        border-right-width: .5em;
                        opacity: 80%;
                    }
                }
            }
        }
        .existing-playlist-selection{
            position:relative;
            width: 300px;
            height: 130px;                
            text-align: center;
            left: 50%;
            transform: translate(-50%);
            background-color: white;
            border-radius: .7em;
            span{
                text-align: center;
                position:absolute;
                left: 50%;
                transform: translate(-50%);
                color: rgb(253, 105, 105);
                height: 20px;
                font-weight: bold;
            }
            .existing-playlist-select{
                position:absolute;
                left: 50%;
                transform: translate(-50%);
                top: 35px;
                border-style: solid;
                border-radius: .5em;
                border-width: .2em;
                font-family: monospace;
                border-color: rgb(253, 105, 105);
            }
            #existing-playlist-submit-id{
                position:absolute;
                left: 50%;
                transform: translate(-50%);
                top: 70px;
                border-style: solid;
                border-radius: .5em;
                border-color: rgb(253, 105, 105);

                background-color: white;
                cursor: pointer;
                transition: .4s;
                font-family: inherit;
                height: 2em;

                line-height: 2.2em;
                &:hover{
                    border-left-width: .5em;
                    border-right-width: .5em;
                    opacity: 80%;
                }
            }
        }
    }

}

// @keyframes slide-ltor{
//    from{
//         //padding-left: 50%;
//        left: 0%;
//    }
    
//     to{
//         left: 50%;
//         transform: translateX(-50%);
//         //transform: translateX(-25%);

//         //text-align: center;

//     }
// }